<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Exoneracion Rent-Car</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a class="navbar-toggler" routerLink="/tipo-veh" routerLinkActive="active">Tipos de Vehiculos</a></li>
        <li><a class="navbar-toggler" routerLink="/marca" routerLinkActive="active">Marcas</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
